.shop-container{
    padding: 0 80px;
    padding-top: 30px;
    background-color: rgb(247 246 255);
    display: flex;
}
.product-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}


@media only screen and (max-width: 600px) {
    .product-area{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px 0px;
        margin-top: 30px;
    }
    .shop-container{
        padding: 0 10px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }
}