.pd-picker-area{
    width: 450px;
    margin-left: 40px;
    margin-top: 30px;
    padding: 6px 20px;
    background: #fff;
}
.pd-picker-area h3{
    color: #5A20CB;
}

.chose-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
.chose{
    font-size: 16px;
    border: none;
    padding: 10px 15px; 
    background-color: #5A20CB;
    color: #fff;
}

.chose:hover{
    color: #fff;
    cursor: pointer;
    background-color: #905ef3;
    border-radius: 100px;
    transition: .5s all ease;
}

.final-election{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.final-election div{
    width: 50px;
    height: 50px;
}
.final-election div img{
    width: 100%;
}